{% extends 'homebase.html' %}
{% block main %}
<div id="content_hero" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyAX4SrFqYKuuTqN7NLYsROCDXvDX5_zKl_w&usqp=CAU)">

    <div class="container">
        <div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0"
            data-translatey="100">
            <div class="col-md-9">
                <span class="title">Take a look at</span>
                <h1>What's on this week</h1>
            </div>
        </div>
    </div>
</div>
    
<div class="container section negative-margin">
    <div class="row">
        <div class="col-sm-12">
            <form action="">
                <div class="live-search">
                    <input type="text" name="search_word" placeholder="Поиск по тайтлу">
                    <button class="input-group-text text-secondary" type="submit" name = 'search_button'><i
                        class="fa fa-search"></i></button>
                </div>
            </form>
            <div class="tabs movies">
                <ul>
                    <li><a href="#mon">Mon</a></li>
                    <li><a href="#tue">Tue</a></li>
                    <li><a href="#wed">wed</a></li>
                    <li><a href="#thu">Thu</a></li>
                    <li><a href="#fri">Fri</a></li>
                    <li><a href="#sat">Sat</a></li>
                    <li><a href="#sun">Sun</a></li>
                    <li class="date"><span>{{ time_now }}</span></li>
                </ul>
                <div id="mon">
                    {% for product in product_all_of_monday %}
                    <div class="row movie-tabs">
                        <div class="col-md-2 col-sm-3">
                            <a href="{% url 'detailanime' product.id %}">
                                <img src="{{ product.image.url }}" alt="Movie title" />
                            </a>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <span class="title"></span>
                            <h3 class="no-underline">{{ product.title }}</h3>
                            <p>{{ product.description|truncatewords:30 }}</p>
                            <p><a href="{% url 'detailanime' product.id %}" class="arrow-button">Full synopsis</a></p>
                            <div class="row">
                                <div class="col-md-8 col-sm-9">
                                    <hr class="space-10" />
                                    <span class="viewing-times">
                                        <i class="material-icons">access_time</i>
                                        Viewing times
                                    </span>
                                    <span class="time">Время выхода аниме</span>
                                </div>
                                <div class="col-md-4 col-sm-3 running-time">
                                    <hr class="space-10" />
                                    25 mins
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div id="tue">
                    {% for product in product_all_of_tuesday %}
                    <div class="row movie-tabs">
                        <div class="col-md-2 col-sm-3">
                            <a href="{% url 'detailanime' product.id %}">
                                <img src="{{ product.image.url }}" alt="Movie title" />
                            </a>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <span class="title"></span>
                            <h3 class="no-underline">{{ product.title }}</h3>
                            <p>{{ product.description|truncatewords:30 }}</p>
                            <p><a href="{% url 'detailanime' product.id %}" class="arrow-button">Full synopsis</a></p>
                            <div class="row">
                                <div class="col-md-8 col-sm-9">
                                    <hr class="space-10" />
                                    <span class="viewing-times">
                                        <i class="material-icons">access_time</i>
                                        Viewing times
                                    </span>
                                    <span class="time">Время выхода аниме</span>
                                </div>
                                <div class="col-md-4 col-sm-3 running-time">
                                    <hr class="space-10" />
                                    25 mins
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div id="wed">
                    {% for product in product_all_of_wednesday %}
                    <div class="row movie-tabs">
                        <div class="col-md-2 col-sm-3">
                            <a href="{% url 'detailanime' product.id %}">
                                <img src="{{ product.image.url }}" alt="Movie title" />
                            </a>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <span class="title"></span>
                            <h3 class="no-underline">{{ product.title }}</h3>
                            <p>{{ product.description|truncatewords:30 }}</p>
                            <p><a href="{% url 'detailanime' product.id %}" class="arrow-button">Full synopsis</a></p>
                            <div class="row">
                                <div class="col-md-8 col-sm-9">
                                    <hr class="space-10" />
                                    <span class="viewing-times">
                                        <i class="material-icons">access_time</i>
                                        Viewing times
                                    </span>
                                    <span class="time">Время выхода аниме</span>
                                </div>
                                <div class="col-md-4 col-sm-3 running-time">
                                    <hr class="space-10" />
                                    25 mins
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div id="thu">
                    {% for product in product_all_of_thursday %}
                    <div class="row movie-tabs">
                        <div class="col-md-2 col-sm-3">
                            <a href="{% url 'detailanime' product.id %}">
                                <img src="{{ product.image.url }}" alt="Movie title" />
                            </a>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <span class="title"></span>
                            <h3 class="no-underline">{{ product.title }}</h3>
                            <p>{{ product.description|truncatewords:30 }}</p>
                            <p><a href="{% url 'detailanime' product.id %}" class="arrow-button">Full synopsis</a></p>
                            <div class="row">
                                <div class="col-md-8 col-sm-9">
                                    <hr class="space-10" />
                                    <span class="viewing-times">
                                        <i class="material-icons">access_time</i>
                                        Viewing times
                                    </span>
                                    <span class="time">Время выхода аниме</span>
                                </div>
                                <div class="col-md-4 col-sm-3 running-time">
                                    <hr class="space-10" />
                                    25 mins
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div id="fri">
                    {% for product in product_all_of_friday %}
                    <div class="row movie-tabs">
                        <div class="col-md-2 col-sm-3">
                            <a href="{% url 'detailanime' product.id %}">
                                <img src="{{ product.image.url }}" alt="Movie title" />
                            </a>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <span class="title"></span>
                            <h3 class="no-underline">{{ product.title }}</h3>
                            <p>{{ product.description|truncatewords:30 }}</p>
                            <p><a href="{% url 'detailanime' product.id %}" class="arrow-button">Full synopsis</a></p>
                            <div class="row">
                                <div class="col-md-8 col-sm-9">
                                    <hr class="space-10" />
                                    <span class="viewing-times">
                                        <i class="material-icons">access_time</i>
                                        Viewing times
                                    </span>
                                    <span class="time">Время выхода аниме</span>
                                </div>
                                <div class="col-md-4 col-sm-3 running-time">
                                    <hr class="space-10" />
                                    25 mins
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div id="sat">
                    {% for product in product_all_of_saturday %}
                    <div class="row movie-tabs">
                        <div class="col-md-2 col-sm-3">
                            <a href="{% url 'detailanime' product.id %}">
                                <img src="{{ product.image.url }}" alt="Movie title" />
                            </a>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <span class="title"></span>
                            <h3 class="no-underline">{{ product.title }}</h3>
                            <p>{{ product.description|truncatewords:30 }}</p>
                            <p><a href="{% url 'detailanime' product.id %}" class="arrow-button">Full synopsis</a></p>
                            <div class="row">
                                <div class="col-md-8 col-sm-9">
                                    <hr class="space-10" />
                                    <span class="viewing-times">
                                        <i class="material-icons">access_time</i>
                                        Viewing times
                                    </span>
                                    <span class="time">Время выхода аниме</span>
                                </div>
                                <div class="col-md-4 col-sm-3 running-time">
                                    <hr class="space-10" />
                                    25 mins
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div id="sun">
                    {% for product in product_all_of_sunday %}
                    <div class="row movie-tabs">
                        <div class="col-md-2 col-sm-3">
                            <a href="{% url 'detailanime' product.id %}">
                                <img src="{{ product.image.url }}" alt="Movie title" />
                            </a>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <span class="title"></span>
                            <h3 class="no-underline">{{ product.title }}</h3>
                            <p>{{ product.description|truncatewords:30 }}</p>
                            <p><a href="{% url 'detailanime' product.id %}" class="arrow-button">Full synopsis</a></p>
                            <div class="row">
                                <div class="col-md-8 col-sm-9">
                                    <hr class="space-10" />
                                    <span class="viewing-times">
                                        <i class="material-icons">access_time</i>
                                        Viewing times
                                    </span>
                                    <span class="time">Время выхода аниме</span>
                                </div>
                                <div class="col-md-4 col-sm-3 running-time">
                                    <hr class="space-10" />
                                    25 mins
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section small-padding border-top" style="background-color: grey;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 cta">
                <p>Need help? Contact our support team on</p>
                <p class="gradient-text">0330 123 4567</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}