{% extends 'homebase.html' %}
{% block main %}
    <div id="content_hero" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyAX4SrFqYKuuTqN7NLYsROCDXvDX5_zKl_w&usqp=CAU)">

        <div class="container">
            <div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0"
                data-translatey="100">
                <div class="col-md-9">
                    <span class="title"><a href="">Forgot password?</a></span>
                    <h1>Login</h1>
                </div>
            </div>
        </div>
    </div>

    <style>
        body {
        background-color:transparent;
        }

        .registration-cssave{
        padding:50px 0;
        }

        .registration-cssave form {
        max-width:800px;
        padding:50px 70px;
        border-radius:10px;
        box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);
        background-color:#fff;
        }

        .registration-cssave form h3 {
        font-weight:bold;
        margin-bottom:30px;
        }

        .registration-cssave .item {
        border-radius:10px;
        margin-bottom:25px;
        padding:10px 20px;
        }

        .registration-cssave .create-account {
        border-radius:30px;
        padding:10px 20px;
        font-size:18px;
        font-weight:bold;
        background-color:#3f93ff;
        border:none;
        color:white;
        margin-top:20px;
        }

        @media (max-width: 576px) {
        .registration-cssave form {
            padding:50px 20px;
        }
        }
    </style>

    <div class="registration-cssave" style="background: black;">
        <form method="post" enctype="multipart/form-data" action="{% url 'user_login' %}" style="margin-left: 200px;">
            <h3 class="text-center">Форма входа</h3>
            {% csrf_token %}
            {% for field in form %}
            <div class="row">
                {{ field.label_tag }}{{ field }}
            </div>
            {% endfor %}
            <div class="form-group">
                <span><button class="btn btn-primary btn-block create-account" type="submit">Вход в аккаунт</button></span><a href="{% url 'user_register' %}">Регистрация</a>
            </div>
        </form>
    </div>
{% endblock %}